{% extends "base.html" %}

{% block subtitle %}Home{% endblock %}

{% block content %}
<div class="mx-auto col-md-10 text-lg-start mb-4">
  <div class="text-center">
    <h1 class="fw-bold lh-2">{{ survey.title }}</h1>
    <p class="lead">{{ survey.instructions }}</p>

    {% block question_content %}
    {% endblock %}

    {% if is_index %}
    <!-- Figure out how to Conditionally display -->
    <form action="/start-session" method="post">
      <button class="btn btn-primary btn-lg mt-4">Start Survey</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}