<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MadLibs</title>
</head>

<body>
  <h1>MadLibs</h1>
  <main>
    <form action="/story" method="post">
      {% for prompt in prompts%}
      <label for={{prompt}}>{{prompt}}:</label>
      <input type="text" id={{prompt}} name={{prompt}}>
      <br />
      {% endfor %}
      <button>Submit</button>
    </form>
  </main>
</body>

</html>