{% extends "base.html" %}

{% block subtitle %}Home{% endblock %}

{% block content %}
<!-- <div class="row align-items-center"> -->
<div class="col=md-10 mx-auto text-center text-lg-start mb-5">
  <h1 class="fw-bold lh-2 text-center">A hilariously unique story everytime 🤣</h1>
  <p class="lead text-center">Just fill out the form below and hit <b>generate</b> to let the laughs begin! </p>
</div>
<div class="col-md-10 mx-auto col-lg-6">
  <form action="/story" method="post" class="p-4 p-md-4 bg-light rounded shadow-lg">
    <h2 class="mb-4">{{ title }}</h2>
    {% for prompt in prompts %}
    <div class=" form-floating mb-3">
      <input class="form-control" type="text" id={{prompt}} name={{prompt}} placeholder={{prompt}} required>
      <label for={{prompt}}>{{prompt.replace("_", " ")}}</label>
    </div>
    {% endfor %}
    <input type="hidden" name="id" value={{id}}>
    <button class="btn btn-primary">Generate</button>
    <!--<button id="new-story" class="btn btn-secondary">New Story</button> -->
  </form>
</div>
<!-- </div> -->
{% endblock %}